<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
  <!-- begin #header -->
  <div id="header" class="header navbar-inverse">
      <!-- begin navbar-header -->
      <div class="navbar-header">
          <a href="" class="navbar-brand">
              <span class="navbar-logo">
                  <img src="../../../assets/img/logo/logo_onwhite.png" style="margin-top: -11px; width: 28px;margin-left: -11px;">
              </span><b>Intel</b> Access</a>
          <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <!-- end navbar-header -->
      
      <!-- begin header navigation right -->
      <ul class="navbar-nav navbar-right">
          <li class="dropdown navbar-user">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="../../../assets/img/user/1-Tharindu.jpg" alt="" /> 
                  <span class="d-none d-md-inline"> dilsan.kt@gmail.com</span> <b class="caret"></b>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                  <a href="" class="dropdown-item">Edit Profile</a>
                  <a href="javascript:;" class="dropdown-item">Calendar</a>
                  <div class="dropdown-divider"></div>
                  <a routerLink='/login' class="dropdown-item">Log Out</a>
              </div>
          </li>
      </ul>
      <!-- end header navigation right -->
  </div>
  <!-- end #header -->
  
  <!-- begin #sidebar -->
  <div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <a href="">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <img src="../../../assets/img/user/1-Tharindu.jpg" alt="" />
                    </div>
                    <div class="info">
                        Tharindu Dilshan
                        <small></small>
                    </div>
                </a>
            </li>
        </ul>
        <!-- end sidebar user -->
        
        <!-- begin sidebar nav -->
        <ul class="nav">

            <!-- begin dashboard -->
            <li class="has-sub">
                <a routerLink='/'>
                    <i class="ion-ios-pulse-strong"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- end dashboard -->

            <!-- begin master details -->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="ion-ios-briefcase-outline bg-gradient-purple"></i>
                    <span>Master Details</span> 
                </a>
                <ul class="sub-menu">
                      <li class=""><a routerLink='/sublocation'>Sub Locations</a></li>
                    <li class=""><a routerLink='/supplier'>Suppliers</a></li>
                    <li class="has-sub">
                        <a href="javascript:;"><b class="caret"></b> Products Details</a>
                        <ul class="sub-menu">
                            <li class=""><a routerLink='/department'>Departments</a></li>
                            <li class=""><a routerLink='/category'>Categories</a></li>
                            <li class=""><a routerLink='/product'>Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- end master details -->

            <!-- begin inventory -->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="ion-ios-compose-outline bg-gradient-blue"></i>
                    <span>Inventory</span>
                </a>
                <ul class="sub-menu">
                    <li class=""><a href="">Opening Stock <b>[OS]</b></a></li>                
                    <li class=""><a href="">Manual Product Price </a></li>                
                    <li class="has-sub">
                        <a href="javascript:;"><b class="caret"></b>Purchase Order <b>[PO]</b></a>
                        <ul class="sub-menu">
                            <li class=""><a href="">New PO</a></li>
                            <li class=""><a href="">View All PO</a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="javascript:;"><b class="caret"></b>Goods Receive Note <b>[GRN]</b></a>
                        <ul class="sub-menu">
                            <li class=""><a href="">New GRN</a></li>
                            <li><a href="">View All GRN</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="">Issue Note <b>[IN]</b></a></li>
                    <li class=""><a href="">Transfer Note <b>[TN]</b></a></li>
                    <li class=""><a href="">Stock Adjustment Note <b>[SAN]</b></a></li>
                </ul>
            </li>
            <!-- end inventory -->

            <!-- begin promotions -->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="ion-ios-calculator-outline"></i>
                    <span>Promotions</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub"><a href="">Discount</a></li>
                </ul>
            </li>
            <!-- end promotions -->

            <!-- begin reports -->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="ion-stats-bars bg-gradient-orange"></i>
                    <span>Reports</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub">
                        <a href="javascript:;"><b class="caret"></b>Master Reports </a>
                        <ul class="sub-menu">
                            <li class="#"><a href="">Supplier List Report</a></li>
                            <li class="#"><a href="">Department List Report</a></li>
                            <li class="#"><a href="">Category List Report</a></li>
                            <li class="has-sub">
                                <a href="javascript:;"><b class="caret"></b>Product Reports </a>
                                <ul class="sub-menu">
                                    <li class="#"><a href="">Department Wise Product Report</a></li>
                                    <li class="#"><a href="">Category Wise Product Report</a></li>
                                    <li class="#"><a href="">Supplier Wise Product Report</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- end reports -->

            <!-- begin user settings -->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="ion-ios-person"></i>
                    <span>User Details</span>
                </a>
                <ul class="sub-menu">
                    <li class=""><a href="">Users</a></li>
                    <li class="has-sub">
                        <a href="javascript:;"><b class="caret"></b> Permission</a>
                        <ul class="sub-menu">
                            <li class=""><a href="">Roles</a></li>
                            <li class=""><a href=""></a></li>
                            <li class=""><a href=""></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- end user settings -->

            <!-- begin settings -->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="ion-ios-gear-outline"></i>
                    <span>Settings</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="">Company Profile</a></li>
                    <li class=""><a href="">Company Settings</a></li>
                </ul>
            </li>
            <!-- end settings -->

            <!-- begin sidebar minify button -->
            <!-- <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-left"></i> <span>Collapse</span></a></li> -->
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
  </div>
  <div class="sidebar-bg"></div>
  <!-- end #sidebar -->
  
  <!-- begin #content -->
  <div id="content" class="content">
      <router-outlet></router-outlet>
  </div>
  <!-- end #content -->
  
  <!-- begin scroll to top btn -->
  <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
  <!-- end scroll to top btn -->
</div>
<!-- end page container -->
